.ipynb_checkpoints/modelisation-checkpoint.ipynb
instances/instances_given/.ipynb_checkpoints/toy_instance-checkpoint.json
.ipynb_checkpoints/trap_instances_creation-checkpoint.ipynb
instances/instances_created/.ipynb_checkpoints/dummy_test-checkpoint.json
